@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
body{
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat Alternates', sans-serif;
}
.socendColor{
  color: #949cb0;
}
.line{
  width: 40%;
  background-color: #a8a8a83d;
  height: 2px;
}
.item{
  position: relative;
}
.vote{
  position: absolute;
  top: 0;
  right: 10px;
  padding: 10px 5px;
  background-color: #24baef;
}

.slick-slider button{
  display: none;
}